<%= form_with(model:[user, round], local: true) do |f| %>
  <div class="container py-4">
    <div class="col col-sm-9 col-md-8 mx-auto">
      <%= render "layouts/error_messages", model:round %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :date, "ラウンド日" %>
            <%= f.date_field :play_date, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :place, "場所" %>
            <%= f.text_field :place, placeholder: "ゴルフ場名", class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :weather ,"天気" %>
            <%= f.select :weather, ["晴れ","曇り","雨","雪"], {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= f.label :wind, "風" %>
            <%= f.select :wind, ["無風","微風","強風"], {}, {class: "form-control"} %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :stroke_count, "スコア" %>
            <%= f.select :stroke_count, 50..200, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :putt_count, "パット" %>
            <%= f.select :putt_count, 10..80, {}, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :par_on, "パーオン" %>
            <%= f.select :par_on, 0..18, {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= f.label :fairway_keep ,"フェアウェイ" %>
            <%= f.select :fairway_keep, 0..18, {}, {class: "form-control"} %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :ob_count, "OB" %>
            <%= f.select :ob_count, 0..18, {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= f.label :penalty_count, "ペナルティ" %>
            <%= f.select :penalty_count, 0..18, {}, {class: "form-control"} %>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center pt-2">
        <div class="col">
          <%= f.submit class: "btn btn-secondary btn-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>