<div class="container pt-5">
  <div class="row mb-2 mx-auto">
    <div class="col col-md-4 text-center order-md-1 mb-3 mb-md-0">
      <h1><strong>TOTAL</strong></h1>
      <p class="h3">
        <strong class="h1"><%= @round.stroke_count %></strong><br>
        <%= "(#{@round.putt_count})" %>
      </p>
    </div>

    <div class="col-md-4 order-md-0 text-center mt-3 text-md-right">
      <p class="d-inline-block">
        日付: <%= @round.play_date.strftime("%Y/%m/%d") %><br>
        場所: <%= @round.place %><br>
        天候: <%= @round.weather %><br>
        風: <%= @round.wind %>
      </p>
    </div>

    <div class="col-md-4 order-md-2 text-center mt-3 text-md-left">
      <p class="d-inline-block">
        フェアウェイキープ: <%= @round.fairway_keep %>回<br>
        パーオン率: <%= @round.par_on %>回<br>
        OB: <%= @round.ob_count %>回<br>
        ペナルティ: <%= @round.penalty_count %>回<br>
      </p>
    </div>
  </div>

  <div class="row text-center mt-3">
    <div class="col">
      <%= link_to "編集", edit_user_round_path(@user, @round), class: "btn btn-success shadow d-inline-block mx-5" %>
      <%= link_to "削除", user_round_path(@user, @round), class: "btn btn-danger shadow d-inline-block mx-5", method: :delete %>
    </div>
  </div>

</div>


