<div class="col pb-3 px-sm-5 p-md-3">
  <div class="card border-0 shadow">
    <%= link_to post_path(post) do %>
    <div class="img-wrapper">
      <%= attachment_image_tag post, :post_image, class: "card-img-top" %>
    </div>
    <% end %>
    <div class="card-body py-2">
      <ul class="p-0 mb-0">
        <li class="list-inline-item"><i class="fas fa-comment-dots"></i><span class="ml-1"><%= post.comments.count %></span></li>
        <!--aboutページでは非表示-->
        <% unless controller.controller_name == "homes" %>
          <li class="list-inline-item favorite-link_<%= post.id %>">
            <%= render "favorites/link", post:post %>
          </li>
          <li class="list-inline-item bookmark-link_<%= post.id %>">
            <%= render "bookmarks/link", post:post %>
          </li>
          <!--#AI機能タグ-->
          <% post.tags.each do |tag| %>
            <li class="small list-inline-item rounded p-1 text-light bg-primary">
              <%= tag.name %>
            </li>
          <% end %>
        <% else %>
          <li class="d-inline-block"><i class="fas fa-thumbs-up"></i><span class="ml-1"><%= post.favorites.count %></span></li>
        <% end %>
      </ul>
      <div class="card-text">
        <!--jqueryで投稿内容を開く-->
          <span><%= truncate(post.body, length: 18, omission: "...")  %></span>
          <% if post.body.length >= 18 %>
            <span class="read-more text-muted", style="cursor: pointer;">続き</span>
          <% end %>
          <p class="d-none mb-0"><%= safe_join(post.body.split("\n"), tag(:br)) %></p>
        <!--コメント非同期-->
        <div id="comment-area_<%= post.id %>">
          <%= render "posts/comment", post:post %>
        </div>
        <span class="text-secondary d-block text-right", style="font-size: 12px"><%= "#{time_ago_in_words(post.created_at)}前" %></span>
      </div>
    </div>
    <% unless controller.controller_name == "homes" %>
    <div class="card-footer p-0 bg-white">
      <%= form_with(model:[post, comment], local: false) do |f| %>
        <%= f.text_area :post_comment, placeholder: "comment", rows: "1", class: "p-2 d-inline-block form-control", style: "width: calc(100% - 61px);" %>
        <%= f.submit "送信", class: "btn position-absolute bottom-0 text-muted" %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
