<div class="container my-4">
    <div class="col col-md-6 mx-auto">
      <%= render "layouts/error_messages", model:@user %>
      <%= form_with model: @user, local:true do |f| %>

        <div class="field mb-3">
          <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", size: "100x100", class: "rounded-circle mb-3" %>
          <%= f.attachment_field :profile_image %>
        </div>

        <div class="field mb-3">
          <%= f.label :account_name, "アカウント名" %><br />
          <%= f.text_field :account_name, autofocus: true, placeholder: "プロゴルファー猿", class: "form-control"%>
        </div>

        <div class="field mb-3">
          <%= f.label :first_name, "名前" %><br />
          <div class="d-inline-flex">
            <%= f.text_field :first_name, placeholder: "姓", class: "mr-3 form-control" %>
            <%= f.text_field :last_name, placeholder: "名", class: "form-control" %>
          </div>
        </div>

        <div class="field mb-3">
          <%= f.label :email, "アドレス" %><br />
          <%= f.email_field :email, autocomplete: "email", placeholder: "sample@sample.com", class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= f.label :introduction, "紹介文" %><br />
          <%= f.text_area :introduction, placeholder: "紹介文", rows: "5", class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= f.label :sex, "性別" %><br />
          <%= f.select :sex, {"男性": 1, "女性": 2}, { include_blank: "選択してください"}, class: "form-control w-50" %>
        </div>

        <div class="field mb-3">
          <%= f.label :prefectures, "都道府県" %><br />
          <%= f.select :prefecture, User.prefectures.keys, {}, class: "form-control w-50" %>
        </div>

        <div class="field mb-3">
          <%= f.label :teens, "年齢層" %><br />
          <%= f.select :teens, ["10代","20代","30代","40代","50代","60代","70代","80代"], {}, class: "form-control w-50"  %>
        </div>

        <div class="field mb-3">
          <%= f.label :start_year, "ゴルフ開始年月" %><br />
          <div class="d-inline-flex">
            <%= f.select :start_year, ((Date.today.year - 70)..(Date.today.year)), {}, class: "mr-3 form-control", style: "width: 100px" %>
            <%= f.select :start_month, (1..12), {}, class: "form-control" %>
          </div>
        </div>

        <div class="actions mb-3">
          <%= f.submit "変更を保存", class: "shadow btn btn-secondary" %>
        </div>
      <% end %>

    </div>
</div>

