<div class="container mt-4">
  <h4 class="text-center">ユーザー一覧</h4>
  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>アカウント名</th>
            <th>エリア</th>
            <th>年齢</th>
            <th>アベレージ</th>
            <th>ゴルフ歴</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", size: "30x30", class: "rounded-circle" %>
              <% end %>
            </td>
            <td><%= link_to user.account_name, user_path(user) %></td>
            <td><%= user.prefecture %></td>
            <td><%= user.teens %></td>
            <td>
              <% unless user.rounds.blank? %>
                <%= user.round_sort.sum(:stroke_count).values.inject(:+) / user.round_count.round(1) %>
              <% else %>
                <span>未登録</span>
              <% end %>
            </td>
            <td><%= "#{user.experience_year}年#{user.experience_month}ヶ月" %></td>
            <td><%= render "users/follow_btn", user:user %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>