<div class="container my-4">
  <h4 class="text-center mb-3">ユーザー一覧<%= "(#{@users.count}人)" %></h4>
  <div class="row">
    <div class="col-lg-3">
      <%= render "users/search", q:@q %>
    </div>
    <div class="col-lg-9 mt-4 mt-lg-0">
      <table class="table table-light table-hover shadow">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th><%= sort_link(@q, :account_name, "Name") %></th>
            <th><%= sort_link(@q, :prefecture, "Area") %></th>
            <th><%= sort_link(@q, :teens, "Age") %></th>
            <th><%= sort_link(@q, :rank, "Rank") %></th>
            <th><%= sort_link(@q, :average,"Ave") %></th>
            <th class="d-none d-md-table-cell"><%= sort_link(@q, :start_year, "Experience") %></th>
            <th class="d-none d-md-table-cell"></th>
          </tr>
        </thead>
        <%= render "users/user_tbody", users:@users %>
      </table>
      <p class="d-inline-block mx-auto"><%= paginate @users %></p>
    </div>
  </div>
</div>