<div class="container mt-5">

    <div class="row mx-auto">
      <div class="col-3">
        <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", size: "120x120", class: "rounded-circle" %>
      </div>
      <div class="col-9">
        <div>
          <span class="h4"><%= @user.account_name %></span>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-secondary d-inline-block mx-3 shadow , mb-2" %>
        </div>
        <span class="d-inline-block mr-3"><%= "投稿 #{@user.posts.count} 件" %></span>
        <span class="d-inline-block mr-3">
          <%= link_to followings_user_path(@user), class: "text-dark" do %>
            <%= "フォロー #{@user.followings.count} 人" %>
          <% end %>
        </span>
        <span class="d-inline-block mr-3">
          <%= link_to followings_user_path(@user), class: "text-dark" do %>
            <%= "フォロワー #{@user.followers.count} 人" %>
          <% end %>
        </span>

        <p><%= @user.first_name + @user.last_name %></p>
        <p><%= @user.introduction %></p>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-6  mx-auto">
        <!--スコアについて記載-->
        <% if @user.scores.present? %>
          <p><%= @score %></p>
          <p><%= @putt %></p>
          <p><%= @fairway_keep_rate %>%</p>
          <p><%= @par_on_rate %>%</p>
          <p><%= @under_par_on_rate %>%</p>
        <!--ゴルフ歴-->
        <% else %>
          <p>スコア登録をしましょう。</p>
        <% end %>
          <%= @carrer %>
          <%= @user.prefecture %>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-5 pt-5 border-top">
      <% @user.posts.each do |post| %>
       <%= render "users/card", post:post %>
      <% end %>
    </div>
</div>
