<div class="container my-4">
  <div class="row mx-auto">
    <div class="col-6 mx-auto col-sm-4 text-center text-md-right">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", size: "150x150", class: "rounded-circle shadow" %>
    </div>
    <div class="col-12 col-sm-8 mx-auto">
      <div class="my-auto">
        <h4 class="text-center d-md-inline-block"><%= @user.account_name %></h4>
        <div class="text-center d-md-inline-block">
          <% if @user == current_user %>
            <%= link_to "編集", edit_user_path(@user), class: "btn btn-sm btn-outline-secondary d-inline-block shadow ml-2" %>
          <% else %>
            <%= link_to "チャット", chat_path(@user.id), class: "btn btn-sm btn-outline-secondary d-inline-block shadow ml-2" %>
            <span class="ml-2 follow-btn_<%= @user.id %>"><%= render "relationships/btn", user:@user %></span>
          <% end %>
          <% if @user == current_user %>
            <%= link_to "スコア登録", new_user_round_path(@user), class: "btn btn-sm btn-outline-warning shadow ml-2"  %>
          <% end %>
          <% if @user.scores.present? %>
            <%= link_to "スコア一覧", user_rounds_path(@user), class: "btn btn-sm btn-outline-success shadow ml-2" %>
          <% end %>
        </div>
        <div class="mt-2 text-center text-sm-left">
          <span class="mr-2">
            <%= link_to followings_user_path(@user) do %>
              <%= "フォロー #{@user.followings.count} 人" %>
            <% end %>
          </span>
          <span class="mr-2">
            <%= link_to followers_user_path(@user) do %>
              <%= "フォロワー #{@user.followers.count} 人" %>
            <% end %>
          </span>
          <div class="d-md-inline-block">
            <span class="mr-2"><%= "投稿 #{@user.posts.count} 件" %></span>
            <% if @user == current_user %>
              <span>
                <%= link_to "ブックマーク", bookmarks_posts_path %>
              </span>
            <% end %>
          </div>
          <p class="mt-2"><%= @user.first_name + @user.last_name %></p>
          <span><%= @user.introduction %></span>
        </div>
      </div>

    </div>
  </div>
  <div class="row my-4">
    <div class="col col-sm-10 col-lg-9 mx-auto">
      <div class="row text-center text-md-left">
        <div class="col-md-4 d-md-flex justify-content-center">
          <p>
            Carrer：<%= "#{@user.experience_year}年#{@user.experience_month}ヶ月" %><br>
            Prefecture：<%= @user.prefecture %><br>
            Age：<%= @user.teens %>
          </p>
        </div>
        <% if @user.scores.present? %>
          <div class="col-md-4 d-md-flex justify-content-center">
            <p>
              Rank：<%= @user.rank %><br>
              Ave：<%= @score %><br>
              Putt：<%= @putt %>
            </p>
          </div>
          <div class="col-md-4 d-md-flex justify-content-center">
            <p>
              Fairway：<%= @fairway_keep_rate %>%<br>
              Par_on：<%= @par_on_rate %>%<br>
              Under_Par_on：<%= @under_par_on_rate %>%
            </p>
          </div>
        <% else %>
          <div class="col-lg-8">
            <p>スコア登録がありません。</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 pt-5 border-top">
    <% @user.posts.each do |post| %>
     <%= render "users/card", post:post, comment:@comment %>
    <% end %>
  </div>
</div>
