<div class="card mb-3 mb-md-4">
  <div class="d-flex align-items-center p-2">
    <%= link_to user_path(post.user) do %>
      <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.jpg", size: "35x35", class: "rounded-circle mr-2" %>
      <%= post.user.account_name %>
    <% end %>
    <div class="ml-auto">
      <% unless controller.controller_name == "homes" %>
        <%= "Rank #{post.user.rank}" %>
        <%= post.user.average %>
        <% if post.user == current_user %>
          <%= link_to edit_post_path(post) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% else %>
      <!--aboutページでは非表示-->
          <span class="follow-btn">
            <%= render "relationships/btn", post:post %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to post_path(post) do %>
    <%= attachment_image_tag post, :post_image, size: "100%", class: "card-img-top" %>
  <% end %>
  <div class="card-body p-3">
    <ul class="p-0">
      <li class="list-inline-item"><i class="fas fa-comment-dots"></i><span class="ml-1"><%= post.comments.count %></span></li>
      <!--aboutページでは非表示-->
      <% unless controller.controller_name == "homes" %>
        <li class="list-inline-item favorite-link_<%= post.id %>">
          <%= render "favorites/link", post:post %>
        </li>
        <li class="list-inline-item bookmark-link_<%= post.id %>">
          <%= render "bookmarks/link", post:post %>
        </li>
      <% else %>
        <li class="d-inline-block"><i class="fas fa-thumbs-up"></i> <%= post.favorites.count %></li>
      <% end %>
    </ul>
    <div class="card-text">
      <p><%= truncate(post.body, length: 25) do %></p>
        <!--非同期通信導入検討↓-->
        <span><%= link_to "続きを読む", post_path(post) %></span>
      <% end %>
      
      <% post.comments.each do |comment| %>
        <div class="row" id="">
          <div class="col">
            <%= link_to user_path(comment.user) do %>
              <%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.jpg", size: "30x30", class: "rounded-circle" %>
              <%= comment.user.account_name %>
            <% end %>
            <% if current_user == comment.user %>
              <%= link_to edit_post_comment_path(post_id: post, id: comment) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to post_comment_path(post_id: post, id: comment), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
            <p><%= comment.post_comment %></p>
          </div>
        </div>
      <% end %>
      <p class="text-secondary", style="font-size: 14px"><%= "#{time_ago_in_words(post.created_at)} ago" %></p>
      <%#=link_to "comment", new_post_comment_path(post), class: "d-block" %>

      <%= form_with(model:[post, comment]) do |f| %>
        <div class="form_group">
          <div class="row">
          <div class="col pr-0"><%= f.text_area :post_comment, placeholder: "コメントをここに", class: "form-control" %></div>
          <div class="col-auto pl-0"><%= f.submit "送信", class: "btn btn-sm btn-outline-secondary" %></div>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>