  <% if post.comments.count > 2 %>
    <span class="text-secondary" data-toggle="collapse" href="#collapseExample" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">表示切替</span>
  <% end %>
    <% post.comments.first(2).each do |comment| %>
        <div class="mb-1">
          <%= link_to comment.user.account_name, user_path(comment.user) %>
          <% if current_user == comment.user %>
            <%= link_to edit_post_comment_path(post_id: post, id: comment) do %>
              <i class="fas fa-edit" style="font-size: 14px;"></i>
            <% end %>
            <%= link_to post_comment_path(post_id: post, id: comment), remote: true, method: :delete do %>
              <i class="fas fa-trash-alt" style="font-size: 14px;"></i>
            <% end %>
          <% end %>
          <span class="d-inline-block ml-2"><%= comment.post_comment %></span>
        </div>
    <% end %>

  <div class="collapse" id="collapseExample">
    <% post.comments.offset(2).each do |comment| %>
      <div class="mb-1">
        <%= link_to comment.user.account_name, user_path(comment.user) %>
        <% if current_user == comment.user %>
          <%= link_to edit_post_comment_path(post_id: post, id: comment) do %>
            <i class="fas fa-edit" style="font-size: 14px;"></i>
          <% end %>
          <%= link_to post_comment_path(post_id: post, id: comment), remote: true, method: :delete do %>
            <i class="fas fa-trash-alt" style="font-size: 14px;"></i>
          <% end %>
        <% end %>
        <span class="d-inline-block ml-2"><%= comment.post_comment %></span>
      </div>
    <% end %>
  </div>