<%= search_form_for q, url: all_path do |f| %>
  <div class="mb-2"><%= f.search_field :body_cont, placeholder: "投稿内容", class: "form-control shadow" %></div>
  <div class="mb-2"><%= f.search_field :user_account_name_or_user_introduction_cont, placeholder: "アカウント名,説明文", class: "form-control shadow" %></div>
  <table class="table table-sm table-light border shadow">
    <tbody>
      <tr>
        <th style="width: 50px;"><%= f.label :user_prefecture, "Area" %></th>
        <td><%= f.select :user_prefecture_eq, User.prefectures.to_a, {include_blank: "指定なし"} %></td>
      </tr>
      <tr>
        <th><%= f.label :user_sex, "Sex" %></th>
        <td>
          <%= f.radio_button :user_sex_eq, "", checked: true %>指定なし
          <%= f.radio_button :user_sex_eq, 1 %>男
          <%= f.radio_button :user_sex_eq, 2 %>女
        </td>
      </tr>
      <tr>
        <th><%= f.label :user_teens, "Age" %></th>
        <td>
          <%= f.radio_button :user_teens_eq, "", checked: true %>指定なし
          <%= f.radio_button :user_teens_eq, "10代" %>10代
          <%= f.radio_button :user_teens_eq, "20代" %>20代
          <%= f.radio_button :user_teens_eq, "30代" %>30代
          <%= f.radio_button :user_teens_eq, "40代" %>40代
          <%= f.radio_button :user_teens_eq, "50代" %>50代
          <%= f.radio_button :user_teens_eq, "60代" %>60代
          <%= f.radio_button :user_teens_eq, "70代" %>70代
          <%= f.radio_button :user_teens_eq, "80代" %>80代
        </td>
      </tr>
      <tr>
        <th><%= f.label :user_rank, "Rank" %></th>
        <td><%= f.collection_check_boxes :user_rank_in, User.all.where.not(rank: nil).group(:rank).order(average: :asc), :rank, :rank %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit class: "btn btn-sm btn-dark shadow" %>
<% end %>