<header class="fixed-top">
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-md shadow ">
      <div class="container">
        <%= link_to "Enjoy Golf", posts_path, class: "navbar-brand text-light" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav d-md-flex align-items-center ml-auto d-none small">
            <li class="nav-item"><%= link_to "スコア一覧", user_rounds_path(current_user), class: "nav-link text-light" %></li>
            <li class="nav-item"><%= link_to "新規投稿", new_post_path, class: "nav-link text-light" %></li>
            <li class="nav-item"><%= link_to "記事検索", all_path, class: "nav-link text-light" %></li>
            <li class="nav-item"><%= link_to "ユーザー検索", users_path, class: "nav-link text-light" %></li>
            <li class="nav-item">
              <% if unchecked_notifications.any? %>
                <%= link_to "通知", notifications_path, class: "nav-link text-warning" %>
              <% else %>
                <%= link_to "通知", notifications_path, class: "nav-link text-light" %>
              <% end %>
            </li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, class: "nav-link text-light", method: :delete %></li>
            <li class="nav-item ml-2">
              <%= link_to user_path(current_user) do %>
                <%= attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", size: "30x30", class: "rounded-circle p-0 m-0" %>
              <% end %>
            </li>
          </ul>
      <!--トグル時-->
          <ul class="navbar-nav d-flex align-items-center ml-auto d-md-none">
            <%= link_to user_path(current_user) do %>
              <li class="nav-item d-md-none nav-link text-light">Mypage　-<span class="small">マイページ</span>-</li>
            <% end %>
            <%= link_to user_rounds_path(current_user) do %>
              <li class="nav-item nav-link text-light">Scores　-<span class="small">スコア一覧</span>-</li>
            <% end %>
            <%= link_to new_post_path do %>
              <li class="nav-item nav-link text-light">New　-<span class="small">新規投稿</span>-</li>
            <% end %>
            <%= link_to all_path do %>
              <li class="nav-item nav-link text-light">Articles　-<span class="small">記事検索</span>-</li>
            <% end %>
            <%= link_to users_path do %>
              <li class="nav-item nav-link text-light">Users　-<span class="small">ユーザー検索</span>-</li>
            <% end %>
            <%= link_to notifications_path do %>
              <% if unchecked_notifications.any? %>
                 <li class="nav-item nav-link text-warning">Notice　-<span class="small">通知</span>-</li>
              <% else %>
                 <li class="nav-item nav-link text-light">Notice　-<span class="small">通知</span>-</li>
              <% end %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <li class="nav-item nav-link text-light">Logout　-<span class="small">ログアウト</span>-</li>
            <% end %>
          </ul>

        </div>
      </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-expand shadow ">
      <div class="container">
        <%= link_to "Enjoy Golf", root_path, class: "navbar-brand text-light" %>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "Signup", new_user_registration_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link text-light" %></li>
        </ul>
      </div>
    </nav>
    <% end %>
</header>