<header class="shadow-sm">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <% if user_signed_in? %>
        <%= link_to "LOGO", posts_path, class: "navbar-brand" %>
        <!--検索機能-->
        <% if controller.controller_name == "posts" && action_name == "index" %>
          <div classs="search-box">
            <%= search_form_for @q do |f| %>
              <%= f.search_field :body_cont, class: "text-secondary rounded px-1 border", style: "font-size: 13px; opacity: 0.9; background-color: white;" %>
              <%= f.submit class: "btn btn-sm btn-light rounded text-secondary ml-1", style: "padding: 0.5px 3px; opacity: 0.9; background-color: white" %>
            <% end %>
          </div>
        <% end %>

        <ul class="navbar-nav d-flex align-items-center">
          <li class="nav-item">
            <%= link_to "＋", new_post_path, class: "mr-1 btn btn-sm btn-secondary rounded-circle" %>
          </li>
          <li class="nav-item">
            <% if unchecked_notifications.any? %>
              <%= link_to notifications_path, class: "nav-link text-light" do %>
                <i class="fas fa-bell fa-lg" style="color: gold;"></i>
              <% end %>
            <% else %>
              <%= link_to notifications_path, class: "nav-link text-light rounded-circle" do %>
                <i class="fas fa-bell fa-lg"></i>
              <% end %>
            <% end %>
          </li>
            <!--chatリンク後々作成？-->
            <!--｜-->
            <!--｜-->
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link text-light" do %>
              <%= attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", size: "30x30", class: "rounded-circle" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "nav-link text-light", method: :delete do %>
              <i class="fas fa-sign-out-alt fa-lg"></i>
            <% end %>
          </li>
        </ul>

      <% else %>
        <%= link_to "LOGO", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "login", new_user_session_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "signin", new_user_registration_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "about", about_path, class: "nav-link text-light" %></li>
        </ul>
      <% end %>
    </div>
  </nav>

</header>