<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyGolf</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "LOGO", root_path, class: "navbar-brand" %>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to notifications_path, class: "nav-link text-light" do %>
                  <i class="fas fa-bell"></i>
                <% end %>
              </li>
                <!--chatリンク後々作成？-->
                <!--｜-->
                <!--｜-->
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                  <%= attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", size: "25x25" %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: "nav-link text-light", method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>
              
            <% else %>
              <li class="nav-item"><%= link_to "login", new_user_session_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to "signin", new_user_registration_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to "about", about_path, class: "nav-link text-light" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      
    </header>
    <%= yield %>
  </body>
</html>
